body header{
    background-color:rgb(244,67,54);
}
 a:hover { 
    background-color:white;
    color: black;
 }
body header a{
    text-align: left;
    background-color:rgb(244,67,54);
    display: inline-block;
    font-size: larger;
    font-family:sans-serif;
    text-decoration:none;
    margin-left:0%;
    margin-top: 0%;
    margin-bottom: 20px;
    padding:20px;
    border: 10px rgb(244,67,54) ;
    color: white;
}
body header h1{
color: white;
font-size: 80px;
font-family:sans-serif;
text-align: center;
margin-top:130px;
}

body header div a:hover { 
    background-color:black;
    color: white;
}
body main section h3 img{
    color:white;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mainParagraph{
    background-color: white;
    margin-top: 10px;
    text-align: left;   
}

